<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 웹 전역 설정(DataSource, Transaction, AOP 등) -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring/context-root.xml</param-value>
	</context-param>

	<!-- 스프링 프로파일 설정 -->
	<context-param>
	    <param-name>spring.profiles.active</param-name>
	    <param-value>develop</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- logback 설정파일 기본 위치 외에 사용시 필요한 리스너(logback-ext-spring.jar 필요) -->
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	
	<!-- logback 설정파일 위치 지정 파라미터 -->
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:config/logging/logback.xml</param-value>
	</context-param>

	<!-- 기본 서블릿(Dispatcher를 이용하여 진입점 1개만 사용) -->
	<servlet>
		<servlet-name>springWeb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring/context-web.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>springWeb</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 한글처리 필터(파라미터에 한글이 있을 경우 처리) -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
